# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized

Some of the popular languages that Data Science use are:
1. R Programming
2. Python
3. SQL

1. Pandas
2. PyTorch
3. NumPy
4. Matplotlib

| Data Science Tools |
| -------|
| Apache Spark       |
| Jupyter Notebook   |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

| Objectives |
| -----------|
-Kernels
-Converting Files
-Markdown cells

# Author
Rudy